$sky: rgba(34, 233, 226, 0.68);

:host {
  box-sizing: border-box;
  display: inline-block;
  width: 10%;
  position: relative;
  border: 1px solid $sky;

  cursor: pointer;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &.hide {
    &:hover {
      background-color: $sky;
    }
  }

  &.missed {
    border: 1px solid $sky;

    &:after {
      content: '';
      background-color: black;
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 50%;
      margin-left: -5px;
      margin-top: -5px;
      left: 50%;
    }

    &:hover {
      background-color: $sky;
    }
  }

  &.damaged{
    background: $sky;

    &:after {
      content: '×';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      font-size: 2.6rem;
      text-align: center;
      border-radius: 50%;
      margin-top: -1.4rem;
    }
  }
}
