<div class="container">
  <h1>Batleship</h1>
  <div class="dashboard">
    <div class="row" *ngFor="let columns of cells">
      <div *ngFor="let cell of columns">
        <dashboard-cell
          [state]="cell.state"
          (mouseup)="onCellClick(cell)"
        ></dashboard-cell>
      </div>
    </div>
  </div>
  <section class="controls" *ngIf="shipsLeft === 0">
    <h2 class="congratulations">You win</h2>
    <button class="btn" (click)="resetShips()">New Game</button>
  </section>

  <div *ngIf="shipsLeft > 0">
    Ships left: {{shipsLeft}}
  </div>

</div>
