.container {
  margin: 0 auto;
  width: 500px;

  .dashboard {
    width: 100%;
    position: relative;
    font-size: 0;
    background: linear-gradient(135deg, #1e5799 0%,#2989d8 42%,#2989d8 42%,#7db9e8 100%);
  }

  .controls {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
}
